# dont add module_test becaue it is purely for testing purposes
module_test.py

# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
badcode_utilities.egg-info/
.eggs/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/

# Virtual environments
venv/
env/
.venv/
ENV/

# MkDocs build output
site/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Misc
cosmo_help.md